/* body {background-color: #00ADD8;} */
h1 {text-align: center;}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

span.done {
  color: #00A29C;
}
